data/
results/
latexdiff*/
*.dat
*.pyc
*.log
*.bbl
*.blg
*.aux
*.pdf
*.eps
*.out
*.synctex.gz
*.synctex
*.swp
*.zip
*.gephi
*.fdb_latexmk
*.fls
*.*~
*.tcp
*.tps
*.tiw
*Notes.bib
*.tmp
*.docx
*.picklez
*.png
*.spl
**/.ipynb_checkpoints
